<mat-toolbar>
  <span>New password</span>
  <span class="spacer"></span>
  <button class="close-button" mat-stroked-button (click)="closeForm()"><mat-icon>close</mat-icon></button>
</mat-toolbar>

<form>

  <mat-grid-list cols="1" rowHeight="60px">

    <mat-grid-tile>

      <mat-form-field appearance="legacy">
        <input type="password" [(ngModel)]="oldPassword" name="oldPassword" matInput placeholder="Old password*">
      </mat-form-field>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-form-field appearance="legacy">
        <input type="password" [(ngModel)]="newPassword" name="newPassword" matInput placeholder="New password*">
      </mat-form-field>

    </mat-grid-tile>

    <mat-grid-tile>

      <mat-form-field appearance="legacy">
        <input type="password" matInput placeholder="Repeat new password*">
      </mat-form-field>

    </mat-grid-tile>

    <mat-grid-tile>
      <div class="button-row">
        <button mat-raised-button color="warn" type="submit"
                (click)="onSubmit()">Submit
        </button>
      </div>
    </mat-grid-tile>
  </mat-grid-list>

</form>
